*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #eee;
    font-family; "Century Gothic"

}
.title{
    text-align: center;
    text-transform: capitalize;
    color: yellow;
    margin: 10px o;
    position: relative;

}
.title::after{
    content: "";
    position: absolute;
    width: 20px; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, yellow);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;

}
.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}
.member:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.member img{ 
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border: 4px solid yellow;
    border-radius: 50%;
    margin: 0 auto;
}
.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: yellow;
    margin: 15px 0;
}
.member p{
    font-size: 15px;
    color: rgba(255, 0, 242, 0.418);
    line-height: 1.6;
}

.member {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: -100px;
  
}
.member {
    float: left;
    width: 33.33%;
    padding: 100px;
  }
.member::after {
    content: "";
    clear: both;
    display: table;
  }
  .menu li{
    background: orange;
    color: #333;
    border-radius: 10px;
}
