@import url('https://fonts.googleapis.com/css?famil=poppings:200,300,400,500,600,700,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppings', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#756e0f,#756b0f1a 50%, #fff 50%, #fff
    100%);
    
} 
.container{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   
.container .box{
    position: relative;
    width: 320px;
    background: #fff;
    padding: 100px 40px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
}
.menu li{
    background: orange;
    color: #333;
    border-radius: 10px;
}
